.btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--text-size);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all 0.4s ease;
}
.btn:active,
.btn:hover {
  background-color: var(--color-secondary);
}
.btn:active {
  transform: translateY(5px);
}
.btn-icon {
  padding: 10px 20px;
}
.btn-icon svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.text {
  font-family: "Segoe UI", sans-serif;
  color: var(--color-white);
  font-weight: 500;
  font-size: var(--text-size);
}
.text span {
  font-weight: 700;
}
.column {
  display: flex;
  flex-direction: column;
  gap: var(--items-spacing);
  align-items: center;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 30px;
}



@media(max-width: 840px){
  .btn,
  .text{
    font-size: var(--text-size-mobile);
    line-height: 100%;
  }
  .btn-icon svg{
    width: var(--icon-size-mobile);
    height: var(--icon-size-mobile);
  }
  .btn, .btn-icon{
    padding: 5px 10px;
  }
}

